<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barra</title>
</head>

<style>

#barra{
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase ;
}

#barra li{

    display: inline;
    margin: 0 20px;
}

</style>
<body>
    <ul id="barra">
        <li>Home</li>
        <li>Servicios</li>
        <li>Quienes Somos</li>
        <li>Contacto</li>
        <li>Acerca de</li>
    </ul>
</body>
</html>