<html>
    <body>
    <h2 style="color:red">
        Hola github esta es nuestra primera pagina con Django1
    </h1>
    
        <p>El nombre del programador es: {{nombre_persona.upper}} {{apellido_persona.upper}}</p>
        <P>Estamos viendo el tema de las plantillas a dia: {{momento_actual.day}} / {{momento_actual.month}}</P>
        <p><strong>Temas del Curso: </strong></p>
        <p>
            <!--ul Y ol-->
            <ol>
            {% if temas %}
                {% for elTema in temas %}

                    <li>{{elTema}}</li>

                {% endfor %}

            {% else %}
            <p> No hay elemento que buscar</p>

            {% endif %}
            </ol>

        </p>
    </boddy>
</html>

<!--{{momento_actual.day}} solo accede al dia -->