{% extends 'body.html'%}

{% block content %}
            <div class="card card-default">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-search"></i>
                    {{ title }}
                </h3>
              </div>
              <div class="card-body">
                <table class="table">
                  <thead>

                  {% block columns %}
                  {% endblock %}

                  </thead>
                  <tbody>

                  {% block row %}
                  {% endblock %}

                  </tbody>
                </table>
              </div>
            </div>
                <div class="card-footer">
                <buttoN class="btn btn-warning btn-flat">
                    <i class="fas fa-plus"></i> Nuevo registro
                </buttoN>
                </div>
{% endblock %}