
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Formulario Contacto API</title>
 </head>
 <body>
     <h1>Contactanos</h1>

     {% if form.errors %}
     <p style="color: red;">Por favor revisa este campo</p>
     {% endif %}

     <form action="" method="POST">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type="submit" value="Enviar">

     </form>

 </body>
 </html>